.float {
    display: block;
}

/* input, */
/* select {
    background-color: #e6eeff !important;
} */

.tData {
    margin-top: 25px;
}

.Fdata {
    margin-bottom: 35px;
}

#snoAlertBox{
    display:none;
}

#snoAlertBoxE{
    display:none;
}

.fecha{
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
}

.correlativo{
    font-size: 1.1em;
    font-weight: bold;
}
.fecha span, .correlativo span{
    color:red;
}

.CData{
    width: 25%;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.CDataS{
    width: 5%;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: right;
}

.CResult{
    text-align: center;
}


.CResult select{
    width: 100% !important;
}
.Linea table tbody td{
    border: 0 !important;
}

.Productos{
    border:1px solid #e6e6e6;
    padding: 2em;
}

.Detalle-header{
    width: 100% !important;
    background-color: #fea;
    
}
.border-shadow {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)  !important;
    border-radius: 1px  !important;
}

.column-title{
    text-align: center;
    font-weight: bold;
    width:10%;
}

.column-data, .column-data-select{
    width:20%;
}


.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}

.navbar {
    position: absolute !important;
}

@media (max-width: 576px) {
    .login-box,
    .register-box {
      width: 90%;
      margin-top: 20px;
    }
  }

.login-logo,
.register-logo {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}



.login-logo a,
.register-logo a {
  color: #444;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}




/* paper.css */
/*https://github.com/cognitom/paper-css*/

/* @page { margin: 0 } */
#print {
    margin: 0;
    font-family: "IPAexGothic", sans-serif;
}

.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    padding-left: 25px !important;
}

/** Paper sizes **/
#print.A3 .sheet {
    width: 297mm;
    height: 419mm;
}

#print.A3.landscape .sheet {
    width: 420mm;
    height: 296mm;
}

#print.A4 .sheet {
    width: 210mm;
    height: 296mm;
}

#print.A4.landscape .sheet {
    width: 297mm;
    height: 209mm;
}

#print.A5 .sheet {
    width: 148mm;
    height: 209mm;
}

#print.A5.landscape .sheet {
    width: 210mm;
    height: 147mm;
}

#print.letter .sheet {
    width: 216mm;
    height: 279mm;
}

#print.letter.landscape .sheet {
    width: 280mm;
    height: 215mm;
}

#print.legal .sheet {
    width: 216mm;
    height: 356mm;
}

#print.legal.landscape .sheet {
    width: 357mm;
    height: 215mm;
}

/** Padding area **/
.sheet.padding-10mm {
    padding: 10mm;
}

.sheet.padding-15mm {
    padding: 15mm;
}

.sheet.padding-20mm {
    padding: 20mm;
}

.sheet.padding-25mm {
    padding: 25mm;
}

.navbar-brand-full {
    width: 119px !important;
    height: 45px !important;
}

@media (max-width: 767px) {

    .navbar-brand-full {
        display: none;
    }
}
/** For screen preview **/
@media screen {
    /* body {
        background: #e0e0e0;
        height: 100%;
    } */

    .sheet {
        background: #ffffff;
        /* margin: 5mm auto; */
        padding: 5mm 0;
    }
}

/** Fix for Chrome issue #273306 **/
@media print {
    #print.A3.landscape {
        width: 420mm;
    }

    #print.A3,
    #print.A4.landscape {
        width: 297mm;
    }

    #print.A4,
    #print.A5.landscape {
        width: 210mm;
    }

    #print.A5 {
        width: 148mm;
    }

    #print.letter,
    #print.legal {
        width: 216mm;
    }

    #print.letter.landscape {
        width: 280mm;
    }

    #print.legal.landscape {
        width: 357mm;
    }

    
}

.topNav{
    margin-left: 200px;
}
